body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 800px;
    margin: auto;
    background-color: rgb(228, 240, 228);
}

h1.titu-princ, h4.sem-tarefas, form, h1.remessas {
    text-align: center;
    color: rgb(94, 118, 250);
}

table {
    margin: auto;
}

table, th, td {
    border: 1px solid rgb(184, 182, 182);
    border-spacing: 0px;

}

th {
    padding: 10px 20px; 
}

a {
    text-align: center;
}

form input {
    margin-top: 10px;
}

input[type=input]:hover {
    background-color: rgb(231, 241, 231);
}