<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% block head %}{% endblock %}
</head>
<body>
    <a href="/">Home</a>
    {% block body %}{% endblock %}
    
    <footer>
        <h4>Fontes de referência: </h4> 
        <p><a href="https://pythonbasics.org/flask-sqlalchemy/" target="_blank">PythonBasic.Org</a></p>
        <p><a href="https://www.youtube.com/watch?v=Z1RJmh_OqeA&t=2497s" target="_blank">Youtube: Learn Flask for Python - Full Tutorial (FreeCodeCamp)</a></p>
        <p><a href="https://docs.sqlalchemy.org/en/14/core/type_basics.html#sqlalchemy.types.Numeric" target="_blank">SQL Academy</a></p>
    </footer>
</body>
</html>