{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="titu-princ">Comprar Produto</h1>

    <form action="/buy/{{task.id}}" method="POST">
        Nome: <h2>{{ task.content }} [id = {{ task.id }}]</h2> <br/>
        Quantidade: <input type="number" name="quantity" id="quantity" value=""/> <br/>
        Valor Unitário: <input type="number" name="price" id="price"/> <br/>
        <input type="submit" value="Comprar"/>
    </form>
</div>
{% endblock %}