{% extends 'base.html' %}

{% block head %}
<title>Supermercado App</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="titu-princ">Supermercado App</h1>
    {% if products|length < 1 %}
        <h4 class="sem-tarefas">Não há produtos. Cadastre um abaixo!</h4>    
    {% else %}
    <table>
        <tr>
            <th>Produto</th>
            <th>Adicionado</th>
            <th style="width: 200px;">Ações</th>
            <th>Valor médio de compra (unidade)(R$)</th>
            <th>Valor médio de venda (unidade)(R$)</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.content }}</td>
                <td>{{ product.date_created.date() }}</td>
                <td>
                    <a href="/buy/{{product.id}}">Comprar nova remessa</a>
                    <br/>
                    <a href="/listar-remessas/{{product.id}}">Listar remessas</a>
                </td>
                <td>{{ "{0:.2f}".format(product.med_compra) }}</td>
                <td>{{ "{0:.2f}".format(product.med_venda) }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="input" name="content" id="content" size="30"/>
        <input type="submit" value="Add Produto"/>
    </form>

    {% if remessas|length < 1 %}
        <h4 class="sem-tarefas">Nenhuma remessa comprada. Compre alguma acima!</h4>    
    {% else %}
    <table>
        <h1 class="remessas">Remessas compradas</h1>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço de compra (unidade)</th>
            <th>Preço de compra (total)</th>
        </tr>

        {% for remessa in remessas %}
            <tr>
                <td>{{ remessa.content }}</td>
                <td>{{ remessa.quantity }}</td>
                <td>{{ "{0:.2f}".format(remessa.price) }}</td>
                <td>{{ "{0:.2f}".format(remessa.tot_price) }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
 

</div>
{% endblock %}