{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="titu-princ">Listando Remessas</h1>

    <table>
        <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço (unidade)</th>
        </tr>

        {% for remessa in remessas %}
            <tr>
                <td>{{ remessa.content }}</td>
                <td>{{ remessa.quantity }}</td>
                <td>{{ remessa.price }}</td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}