{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="titu-princ">Update Task</h1>

    <form action="/update/{{task.id}}" method="POST">
        <input type="input" name="content" id="content" value="{{task.content}}"/>
        <input type="submit" value="Update Task"/>
    </form>
</div>
{% endblock %}